*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' sans-serif;
    box-sizing: border-box;
}

body {
    background: rgb(252, 128, 5);
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background: #0b222a;
    width: 100%;
    height: 75px;
    color: #fff;
}

.logo {
    font-weight: 700;
    padding-left: 50px;
    font-size: 30px;
}

.dear {
    color: #fff;
}

.code {
    color: rgb(252, 128, 5);
}

.nav {
    margin-right: 100px;
}

.nav span {
    font-size: 15px;
    font-weight: 300; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    padding: 0 30px;
    border-right: 0.5px solid #797a7b;
}

.nav span:last-child{
    border-right: none;
}

.nav span a {
    text-decoration: none;
    color: #ccc;
}

section {
    width: 100%;
    max-height: 100%;
    background: #0a272f;
}

.intro {
    justify-content: center;
    align-items: center;
    padding: 150px 200px ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hello {
    font-size: 60px;
    color: #fff;
}

.name {
    font-size: 60px;
    color: #fff;
}

.info {
    padding-top: 20px;
    font-size: 18px;
    font-weight: 100;
    color: #24393f;
}

.info div {
    padding: 4px;
}

.button {
    margin: 50px 0;
    padding: 15px 30px;
    background: rgb(252, 128, 5);
    color: rgb(255, 255, 255);
    border: 0.5px solid rgb(20, 40, 57);
    border-radius: 5px;
    font-size: 20px;
    
    transition: transform 0.2s ;
    cursor: pointer;
    font-weight: 500;
}

.button:active {
    color: #ffffff;
    text-shadow: 1px 1px 20px #ffffff;
    background: #0a272f;
    box-shadow: 1px 1px 20px #868989;
}

.home {
    display: flex;
    justify-content:baseline;
}

.image {
    margin-top: 120px;
    margin-left: 50px;
    padding-bottom: 100px; 
    width: 350px;
}

.border {
    border-bottom: 3px solid rgb(16, 56, 73);
    width: calc(100% - 300px);
    margin: 0 auto;
    margin-top: 50px;
}


.about-heading {
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: #ccc;
    margin: 80px 600px 100px;
    font-weight: 100;
}

.about-text {
    color: #fff;
    padding-left: 60px;
    padding-right: 200px;
    letter-spacing: 2px;
    margin-left: 10%;
    word-spacing: 4px;
    font-weight: 200;
    line-height: 1.8;
    border-left: 2px solid rgb(252, 128, 5);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about-link{
    position:relative;
    left: 20%;
    top: 40%;
    transform: translateY(-50%);
    flex-direction: row;
}
.about-link a{
    display: block;
    font-size: 40px;
    color: #696969;
    transition: color 0.3s ease, transform 0.3s ease;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 150px;
}
.about-link a:hover{
    color: rgb(252, 128, 5);
    transform: scale(1.2);
}

.about {
    padding-bottom: 200px;
}

.skills-heading {
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif ;
    margin: 80px 200px 80px;
    font-weight: 700;
    color: rgb(252, 128, 5);
}

.skills-heading span {
    text-decoration: underline;
    text-underline-offset: 20px;
}

.skills-body {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px 200px;
}  

.skills-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 250px;
    height: 250px;
    background-color: #374857;
    border: 2px solid #667483;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skills-element:hover {
    transform: translateY(-10px);
    box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.749);
}

.skills-logo img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin:20px ;
}
.skills-name {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #c4c4c4;
    text-shadow:1px 1px 20px #b2c0ca;
}


.project-heading {
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    margin: 80px 0 0 200px ;
    font-weight: 400;
    color: #ccc;
    padding-bottom: 80px;
}

.project-heading span {
    color: rgb(252, 128, 5);
    font-weight: 600;
}

.project-body {
    justify-content: center;
    margin-left: 100px;
    padding: 20px 50px;
}  

/* Projects Container */
.projects-container {
    display: flex;
    width: 90%;
    border-top: 1px solid #000000;
}

.projects-container img {
    width: 150px;
    height: 150px;
    margin: 30px 60px 30px 100px;
    border-radius: 10px;
    border: 1px solid #6a89a4;
    transition: transform 0.3s ease;
}

.projects-container img:hover {
    transform: translate(10px);
    box-shadow: 1px 1px 10px #667483 ;
}

.projects-container img:active {
    transform: translateX(0px);
    box-shadow: 5px 1px 10px #101e2e ;
}

.projects-container .inner {
    display: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 90px;
    margin-bottom: 80px;
    padding: 15px 20px;
    font-size: 12px;
    color: #e4fbfc;
    background:#0b222a;
    border-radius: 5px;
    box-shadow: 1px 1px 50px #66878d;
}

.projects-container:hover .inner {
    display: block;
    cursor: pointer;
}

.inner a{
    text-decoration: none;
    color: #e4fbfc;
}

.inner a:active{
    color: #64858e;
}

.projects-container:hover .inner:active {
    color: #64858e;
    box-shadow: 1px 1px 50px #2a4549;
}

.projects-container .project-name {
    margin: 70px 10px 10px 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 400;
    color: #b2c1c5;
    transition: transform 0.3s ease-in-out;
}

.projects-container .project-name :hover {
    transition: scale(1.2);
}

.projects-container .project-desc {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: #4d6a7b;
    margin: 10px 0px 10px 50px;
}

.contact-left {
    display: grid;
    margin: 0px 0px 200px 200px;
    padding-right: 80px;
}

.contact-left .first {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: coral;
    font-size: 30px;
    font-weight: 100;
    margin-bottom:30px;
    letter-spacing: 2px;
    
}
.contact-left .first:hover{
    text-shadow: 2px 2px 20px #ff9d00;
}

.contact-left .second {
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: #fff;
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 40px;
}

.contact-left .second a {
    color: #fafafa;
    transition: color 0.2s ease-in-out;
}

.contact-left .second a:hover {
    color: #0084ff;
    text-shadow: 1px 1px 10px #00b7ff;
}

.contact-left .third {
    display: flex;
    gap: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    color: #fff;
    margin:50px 0px;
}

.third-contact {
    font-size: larger;
    margin-bottom: 15px;
}

.contact-left .third .third-email a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #2984af;
}

.media{
    display: flex;
    gap: 5px;
}

.media a{
    display: inline;
    font-size: 25px;
    color: #b1dcee;
    text-shadow: 1px 1px 10px #080706;
}

.contact-right {
    display:block;
    color: #fff;
    margin-left: 20px;
}

.contact-right input {
    width: 500px;
    height: 60px;
    color: #ffffff;
    outline: none;
    margin-bottom: 50px;
    margin-left: 50px;
    padding-left: 20px;
    background: #0a272f;
    border-radius: 20px;
    border: 1px solid #584a6fb5;
    box-shadow: 1px 1px 10px #584a6fb5;
    font-size: 15px;
    cursor:auto;
    line-height: 2.5;
    caret-color:#ffffff;
}

.contact-right input:hover {
    box-shadow: 1px 1px 20px #2984af;
    caret-color:#04d9ff;
}

.contact-right input::placeholder {
    color: #fff;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: 100;
}

.form {
    margin-left: 30px;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

.send button{
    background: #0a272f;
    color: #cbcaca;
    font-size: 14px;
    padding: 15px 55px;
    margin: 0px 50px;
    margin-right:350px;
    margin-bottom: 100px;
    border-radius: 15px;
    border: 1px solid #584a6fb5;
    box-shadow: 1px 1px 10px #584a6fb5;  
    cursor: pointer;
}

.send button:hover {
    border: 1px solid #437083;
    box-shadow: 1px 1px 10px #2984af; 
    text-shadow:1px 1px 20px #0084ff;
}

.send button:active {
    color: #000000;
    border: 1px solid #76878e;
    box-shadow: 1px 1px 10px #93bacb; 
    text-shadow:1px 1px 20px #fdfdfd;
}

.up-button {
    text-align: center;
    font-size: 40px;
    padding: 20px;
}

.up-button a{
    color: #085f79;
    text-shadow: 1px 1px 10px #0c346b;
}

.end {
    font-family:Arial, Helvetica, sans-serif;
    padding: 20px;
    background:  rgba(252, 128, 5, 0.908);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}